/* Sidebar Genel Ayarları */
.sidebar {
    min-height: 100vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #333333; /* Yeni koyu arka plan rengi */
    padding: 10px 15px;
}

/* Sidebar üst kısmı */
.sidebar .top {
    margin-top: 15px;
}

/* Sidebar görselleri */
.sidebar img {
    width: 30px;
}

/* Menü ikonu */
.sidebar .menu {
    display: block;
    margin-left: 10px;
    cursor: pointer;
}

/* Yeni sohbet butonu */
.sidebar .new-chat {
    margin-top: 50px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    background-color: #181818; /* Koyu gri arka plan */
    border-radius: 50px;
    font-size: 14px;
    color: #b0b0b0; /* Açık gri yazı rengi */
    cursor: pointer;
}

/* Recent (son konuşmalar) kısmı */
.sidebar .recent {
    display: flex;
    flex-direction: column;
    animation: fadeIn 2.0s;
}

/* Recent başlık */
.sidebar .recent-title {
    margin-top: 30px;
    margin-bottom: 20px;
    color: #ffffff; /* Beyaz renk başlık */
}

/* Recent entry (son konuşma girişi) */
.sidebar .recent-entry {
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 10px;
    padding-right: 40px;
    border-radius: 50px;
    color: #d1d1d1; /* Açık gri yazı rengi */
    cursor: pointer;
}

/* Recent entry hover efekti */
.sidebar .recent-entry:hover {
    background-color: #444444; /* Hoverda koyu gri arka plan */
    color: #ffffff; /* Hoverda yazıyı beyaz yapalım */
}

/* Sidebar alt kısmı */
.sidebar .bottom {
    display: flex;
    flex-direction: column;
}

/* Alt kısmın öğeleri */
.sidebar .bottom-item {
    padding-right: 10px;
    cursor: pointer;
    color: #d1d1d1; /* Alt öğeler için açık gri yazı */
}

/* Mobil görünümde sidebar gizleme */
@media (max-width: 600px) {
    .sidebar {
        display: none;
    }
}
